@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
article {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 750px;
}

article h1,
article h3,
article h4 {
  color: #4c4c4c;
}

article h1 {
  margin-top: 10px;
}

article h2 {
  color: #445d6f;
  font-size: 28px;
}

article h3 {
  font-size: 24px;
}

article h4 {
  font-size: 22px;
  font-weight: 400;
}

article .subtitle {
  margin-top: -16px;
  font-size: 18px;
  color: #a0a0a0;
  line-height: 1.3;
}

article .feacture-img img {
  width: 100%;
}

article p,
article ul,
article ol,
article a {
  font-size: 16px;
  line-height: 1.75;
  color: #24262a;
}

article p {
  margin-bottom: 1.5rem;
}

article li {
  list-style: none;
}

article p a {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

article p a:after {
  position: absolute;
  background-color: #308bf0a3;
  width: 100%;
  height: 7px;
  content: "";
  left: 0;
  bottom: 0px;
  z-index: -1;
}

article p a:hover:after {
  height: 50%;
  background-color: #f8dcbb;
}

article li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
  margin-right: 5px;
}

article ol li {
  counter-increment: listCounter;
}

article ol > li::before {
  content: counter(listCounter, decimal-leading-zero);
  font-size: 0.9rem;
  font-weight: 700;
  color: #d33a2c;
  margin-right: 1rem;
}

@media only screen and (min-width: 481px) {
  article p,
  article ul,
  article ol,
  article a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 720px) {
  article {
    margin-top: 6rem;
  }
  article h2,
  article h3,
  article h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  article h1 {
    font-size: 3.2rem;
    color: #4c4c4c;
  }
  article h2 {
    font-size: 35px;
  }
  article h3 {
    font-size: 30px;
  }
  article .subtitle {
    font-size: 22px;
  }
}

hr {
  border: none;
  padding-bottom: 3.5rem;
}

hr::after {
  content: "...";
  display: block;
  width: 100%;
  letter-spacing: 9px;
  font-weight: 700;
  text-align: center;
  font-size: 33px;
}

.cat-container a {
  background-color: #e9e9e9;
  color: #909090;
  padding: 5px 19px;
  border-radius: 36px;
  font-size: 14px;
}

.tag-container {
  padding: 1rem 0;
}

.tag-container a {
  color: grey;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  margin-right: 1rem;
}

.wide-img {
  width: 100%;
  margin: 1rem 0;
}

@media screen and (min-width: 1080px) {
  .wide-img {
    max-width: initial;
    position: relative;
    right: 50%;
    left: 50%;
    width: calc(100vw - 140px - 140px);
    margin-right: calc(-50vw + 140px);
    margin-left: calc(-50vw + 140px);
  }
}

.lista-h3 {
  background-color: #4180a5;
  border-radius: 5px;
  padding: 3px 12px;
  min-width: 40px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 80%;
  text-align: center;
  margin-right: 10px;
}

.related-posts {
  padding-bottom: 1rem;
}

.title-related {
  font-size: 1.6rem;
  color: #4c4c4c;
  border-bottom: 5px solid #cacaca;
  padding-bottom: 8px;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  overflow: hidden;
}

.item-container .item {
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
}

.item-container .item img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.item-container .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item-container .item a:hover {
  background-color: #64b5ce9e;
}

.item-container .item .card {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-container .item .title {
  background-color: #ffffffc9;
  color: #4c4c4c;
  padding: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.item-container .item .title h3 {
  margin: 0;
  padding: 0;
}

@media (max-width: 720px) {
  .item-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item-container .item {
    width: calc(50vw - 3rem);
    min-height: 230px !important;
    max-width: 100%;
  }
}

@media (min-width: 720px) {
  .item-container .item {
    min-height: 260px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .item-container .item {
    min-width: 200px;
    min-height: 330px;
    border-radius: 20px;
  }
}

@media (min-width: 1080px) {
  .item-container {
    gap: 1.5rem;
  }
  .item-container .item {
    width: calc((25vw - 1rem));
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-size: 18px;
  color: rgba(44, 63, 88, 0.8);
  margin: 17px 0;
  line-height: 160%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.center-margin {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .column-2_3 {
    width: 66%;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

.outline_letter {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.outline_letter:hover {
  color: #6edcff;
  -webkit-text-stroke: initial;
}

.navbar {
  background-color: #474a55;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar a {
  font-weight: 400;
  color: #fff;
}

.navbar .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 30px;
}

.navbar .menu {
  display: none;
}

.navbar .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul li {
  padding: 0;
  padding: 0 14px;
}

.navbar .search-nav {
  background-color: #ffffff41;
  border-radius: 4px;
  width: 220px;
  font-size: 14px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .search-nav input {
  padding: 10px 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  width: 160px;
}

.navbar .search-nav input::-webkit-input-placeholder {
  color: #fff;
}

.navbar .search-nav input:-ms-input-placeholder {
  color: #fff;
}

.navbar .search-nav input::-ms-input-placeholder {
  color: #fff;
}

.navbar .search-nav input::placeholder {
  color: #fff;
}

.navbar .search-nav input:focus {
  outline: none;
}

.navbar .search-nav img {
  margin-right: 10px;
}

.navbar .rigth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .user-icon {
  margin-right: 5px;
}

.navbar .login {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 15px;
  display: none;
}

.navbar .menu-mobile-btn button {
  background-color: transparent;
  border: none;
}

.navbar .search-menu-btn {
  display: none;
}

@media only screen and (min-width: 1080px) {
  .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .login {
    display: block;
  }
  .navbar .menu-mobile-btn {
    display: none;
  }
}

.navbar-fluid {
  position: fixed;
  z-index: 15;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-fluid .logo img {
  height: 26px;
}

.navbar-fluid .search-nav {
  display: none;
}

.navbar-fluid .menu ul li {
  padding: 0.85rem 0.5rem;
  margin: 0 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-fluid .menu ul li:hover {
  border-bottom: 3px solid orange;
  background-color: #575a67;
}

.navbar-fluid .menu a {
  display: block;
  height: 100%;
}

.navbar-fluid .search-menu-btn button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  display: block;
}

.navbar-fluid .search-menu-btn button:hover {
  background-color: #6f6f6f;
}

@media only screen and (min-width: 1080px) {
  .navbar-fluid {
    padding: 0px 10px;
  }
  .navbar-fluid .search-menu-btn {
    display: block !important;
  }
}

.navbar-fluid-_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #474a55;
  padding: 0 10px;
}

.navbar-fluid-_ .short-logo {
  padding: 10px 0;
}

.navbar-fluid-_ .short-logo img {
  height: 28px;
}

.navbar-fluid-_ .menu-categories {
  display: none;
}

.navbar-fluid-_ .menu-categories a {
  color: #fff;
}

.navbar-fluid-_ .menu-categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}

.navbar-fluid-_ .menu-categories ul li {
  padding: 0.85rem 0.5rem;
  margin: 0 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-fluid-_ .menu-categories ul li:hover {
  border-bottom: 3px solid orange;
  background-color: #575a67;
}

.navbar-fluid-_ .elastic-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  position: relative;
  height: 115vh;
  overflow: hidden;
}

.hero picture img {
  width: 100%;
  height: 115vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #264463;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000a6), color-stop(21%, rgba(10, 10, 10, 0.2)), color-stop(70%, rgba(12, 12, 12, 0.4)), to(white));
  background: linear-gradient(180deg, #000000a6 0%, rgba(10, 10, 10, 0.2) 21%, rgba(12, 12, 12, 0.4) 70%, white 100%);
}

@media only screen and (min-width: 1201px) {
  .hero .gradient picture img {
    height: auto;
  }
}

.fadein {
  width: 100vw;
  height: 110vh;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-container {
  top: 3.5rem;
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  min-height: 80vh;
}

.hero-container .content {
  padding: 1rem;
  margin-right: auto;
}

.hero-container .content h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-container .content p {
  font-weight: 100;
  color: #fff;
  margin-top: 0;
  font-size: 28px;
}

.hero-container .carrousel {
  display: none;
  height: 20rem;
  width: 700px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* cell number */
}

.hero-container .carrousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}

.hero-container .carrousel .carousel-cell {
  width: 200px;
  height: 90%;
  margin-right: 1rem;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #6a6a6a;
          box-shadow: 1px 1px 1px #6a6a6a;
}

.hero-container .carrousel .carousel-cell:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero-container .carrousel .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

@media only screen and (min-width: 340px) {
  .hero-container .carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1201px) {
  .hero-container .carrousel {
    padding-left: 9rem;
  }
}

@media only screen and (min-width: 1201px) {
  .hero-container .column_50 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden !important;
  }
  .hero-container .content {
    max-width: 400px;
    padding-top: 4rem;
  }
  .hero-container .content h2 {
    font-size: 3.6rem !important;
    margin-top: -2rem;
  }
}

.h-subtitle {
  text-transform: uppercase;
  color: #a0a0a0;
  letter-spacing: 4px;
}

#homepage .navbar {
  background-color: transparent;
}

.homepage-section {
  margin: 4rem 0;
}

.homepage-section h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.homepage-section.center h2, .homepage-section.center p, .homepage-section.center .h-subtitle {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.serif-title {
  font-family: "Roboto", "serif" !important;
  text-align: center !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.3rem !important;
  color: #2a2a2a !important;
}

.world-map-img {
  margin-top: 3rem;
  display: block;
}

.world-map-img img {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 1rem auto;
}

.separator {
  margin-bottom: 1rem;
}

.separator img {
  padding-bottom: 1rem;
  width: 100%;
}

.arrow-separator {
  width: 150px;
  margin: 0 auto;
}

.arrow-separator img {
  width: 100%;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.card-list picture {
  width: 95px;
  border-radius: 50%;
  border: 2px solid grey;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-list img {
  width: 70%;
}

.card-list h4 {
  text-transform: uppercase;
  color: black;
}

.card-list.narrow {
  max-width: 1080px;
  margin: 0 auto;
}

.card-list .item {
  display: block;
}

.card-list .item:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
          box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}

.card-list .item:hover picture {
  background-color: #e3e3e3;
}

.card-list .short {
  padding: 1rem;
  border-radius: 9px;
  cursor: pointer;
  max-width: 105px;
}

.card-list .short:hover {
  background-color: #f7f7f7;
}

.card-list .short h4 {
  margin: 10px 0 !important;
  text-align: center;
}

.app-item.item {
  margin: 0 8px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 18px;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
}

.app-item.item h4 {
  margin: 10px 0 !important;
}

.app-item.item p {
  margin-top: 0;
  text-align: initial !important;
  margin-bottom: 0;
  font-size: 15px;
}

.app-item.item .logo {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-item.item .logo img {
  width: 75px;
}

.app-item.item:hover {
  background-color: #f4f4f4;
}

@media only screen and (min-width: 720px) {
  .app-item.item {
    width: 40%;
    margin-right: auto;
  }
}

@media only screen and (min-width: 980px) {
  .app-item.item {
    width: 28%;
  }
}

.item.app-item h4 {
  margin: 10px 0 !important;
}

.img-aux-block {
  margin: 0 auto;
}

.img-aux-block img {
  width: 100%;
}

@media only screen and (min-width: 1201px) {
  .img-aux-block {
    margin-right: -2rem;
  }
}

.grey-background {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

.destination-card {
  padding-top: 2rem;
}

.desintation {
  gap: 10px;
}

.destination.item {
  padding: 10px;
  max-width: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destination.item:hover {
  background-color: #fcfcfc;
}

.destination.item h4 {
  font-size: 14px;
}

.destination.item .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destination.item .icon-block img {
  height: 90px;
  width: 80%;
}

.destination.item .icon-block.plus-icon img {
  height: 60px;
}

.description-place {
  border-left: 3px solid white;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-place .place-name {
  color: white !important;
  letter-spacing: 2px;
}

.description-place picture {
  padding-top: 4px;
}

.description-place picture img {
  margin-right: 10px;
  width: 2rem;
  height: auto;
}

@media only screen and (min-width: 1201px) {
  .description-place {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 60% 100%;
  }
}

@keyframes slide {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 60% 100%;
  }
}
/*# sourceMappingURL=style.css.map */